node-red-lorawan-class_b-downlink.json
[{"id":"c434c3f55867e6e8","type":"tab","label":"ChirpStack-LoRaWAN-ClassB-downlink","disabled":false,"info":"","env":[]},{"id":"7b8659677a59f0a7","type":"comment","z":"c434c3f55867e6e8","name":"Downlink-viesti - valot ON/OFF","info":"","x":450,"y":220,"wires":[]},{"id":"7806b0ca41364e80","type":"function","z":"c434c3f55867e6e8","name":"Downlink to E5-AT","func":"\nvar data = msg.payload.thepayload;\n\n\nmsg.payload = {\n\t\"devEui\": \"########\", \n\t\"confirmed\": false,\n\t\"fPort\": 2,\n\t\"data\": data, \n\t//\"object\": {\n\t//\t\"temperatureSensor\": { \"1\": 25 },\n\t//\t\"humiditySensor\": { \"1\": 32 }\n\n}\n\nreturn msg;\n\n\n\n\t\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":300,"wires":[["057f3aa01fe5a8a9","f4b5c88a845ff0a0"]]},{"id":"057f3aa01fe5a8a9","type":"mqtt out","z":"c434c3f55867e6e8","name":"MQTT OUT","topic":"application/1ad07b7f-0b99-4a8a-abd5-9d2f750831fd/device/#############/command/down","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":990,"y":280,"wires":[]},{"id":"f4b5c88a845ff0a0","type":"debug","z":"c434c3f55867e6e8","name":"debug application","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":340,"wires":[]},{"id":"255da37db2b70f06","type":"function","z":"c434c3f55867e6e8","name":"Downlink to E5-SDK","func":"\nvar data = msg.payload.thepayload;\n\nmsg.payload = {\n\t\"devEui\": \"########\", \n\t\"confirmed\": false,\n\t\"fPort\": 2,\n\t\"data\": data,\n\t//\"data\": \"AA==\", // 00\n\t//\"object\": {\n\t//\t\"temperatureSensor\": { \"1\": 25 },\n\t//\t\"humiditySensor\": { \"1\": 32 }\n\n}\n\nreturn msg;\n\n\n\n\t\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":400,"wires":[["1af685ef69bff028","f5248d7b66b5d438"]]},{"id":"1af685ef69bff028","type":"mqtt out","z":"c434c3f55867e6e8","name":"MQTT OUT","topic":"application/1ad07b7f-0b99-4a8a-abd5-9d2f750831fd/device/#########/command/down","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":990,"y":400,"wires":[]},{"id":"f5248d7b66b5d438","type":"debug","z":"c434c3f55867e6e8","name":"debug application","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":460,"wires":[]},{"id":"4878a5e79d1241cd","type":"comment","z":"c434c3f55867e6e8","name":"Multicast","info":"","x":380,"y":700,"wires":[]},{"id":"be9199f75a3cd625","type":"http request","z":"c434c3f55867e6e8","name":"Multicast class b","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:8090/api/multicast-groups/de17800d-f486-453b-8865-e04ba0dfeb5c/queue","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"accept","valueType":"other","valueValue":"application/json"},{"keyType":"other","keyValue":"Grpc-Metadata-Authorization","valueType":"other","valueValue":"Bearer #################################"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":780,"y":740,"wires":[["2701d60a1ecee436"]]},{"id":"2701d60a1ecee436","type":"debug","z":"c434c3f55867e6e8","name":"debug application","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":740,"wires":[]},{"id":"fc61c481b7ad5789","type":"function","z":"c434c3f55867e6e8","name":"Data","func":"\nmsg.payload = {\n\t\n\t\"queueItem\": {\n\t\t\"data\": \"AQ==\",\n\t\t\"fCnt\": 0,\n\t\t\"fPort\": 2\n\t}\n}\n\n\n\nreturn msg;\n\n\n\n\t\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":740,"wires":[["be9199f75a3cd625"]]},{"id":"6de45f6ca34b4791","type":"inject","z":"c434c3f55867e6e8","name":"Repeat 60s","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":740,"wires":[["fc61c481b7ad5789"]]},{"id":"f842aa0966caf286","type":"function","z":"c434c3f55867e6e8","name":"Downlink to E5-SDK, change to A/B class","func":"\nvar data = msg.payload.thepayload;\n\nmsg.payload = {\n\t\"devEui\": \"########\", \n\t\"confirmed\": false,\n\t\"fPort\": 3,\n\t\"data\": data,\n\t//\"data\": \"AQ==\", // AA== 00  AQ== on 01\n\t//\"object\": {\n\t//\t\"temperatureSensor\": { \"1\": 25 },\n\t//\t\"humiditySensor\": { \"1\": 32 }\n\n}\n\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["940f864e26bdee7a","e3fd12407162444f"]]},{"id":"940f864e26bdee7a","type":"mqtt out","z":"c434c3f55867e6e8","name":"MQTT OUT","topic":"application/1ad07b7f-0b99-4a8a-abd5-9d2f750831fd/device/############/command/down","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0b5f9950f773f2db","x":1010,"y":560,"wires":[]},{"id":"e3fd12407162444f","type":"debug","z":"c434c3f55867e6e8","name":"debug application","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":620,"wires":[]},{"id":"ac0e7a3a297dcd02","type":"comment","z":"c434c3f55867e6e8","name":"Vaihdetaan luokkaa","info":"","x":410,"y":500,"wires":[]},{"id":"c724af38b2023bea","type":"inject","z":"c434c3f55867e6e8","name":"OFF","props":[{"p":"payload.thepayload","v":"AA==","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":410,"y":320,"wires":[["255da37db2b70f06","7806b0ca41364e80"]]},{"id":"aa46343b37bd3d5c","type":"inject","z":"c434c3f55867e6e8","name":"ON","props":[{"p":"payload.thepayload","v":"AQ==","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":410,"y":360,"wires":[["255da37db2b70f06","7806b0ca41364e80"]]},{"id":"c3e65980187e08c7","type":"inject","z":"c434c3f55867e6e8","name":"class B","props":[{"p":"payload.thepayload","v":"AQ==","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":420,"y":560,"wires":[["f842aa0966caf286"]]},{"id":"99027ba3e214f511","type":"inject","z":"c434c3f55867e6e8","name":"class A","props":[{"p":"payload.thepayload","v":"AA==","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":420,"y":620,"wires":[["f842aa0966caf286"]]},{"id":"0b5f9950f773f2db","type":"mqtt-broker","name":"Mosquitto ONLINE","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]